body {
  width: 100vw;
  height: 100vh;
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

table {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: #D09292;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
  height: 50px;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
  font-size: 14px;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}

.navbar-custom .nav li{
  padding: 10px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #000;
  }
}

.intro {
  display: table;
  width: 100vw;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        url(../../images/header.jpg) no-repeat top center scroll;
  background-color: #000;
  background-size: cover;
}

.intro img {
  filter: brightness(0.5);
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .container .row {
  justify-content: center;
  text-align: center;
}

.intro .intro-body .brand-heading {
  font-size: 100px;
}

.intro .intro-body .intro-text {
  font-size: 26px;
}

@media (min-width: 768px) {
  .intro {
    height: 100vh;
    padding: 0;
  }

  .intro .intro-body .brand-heading {
    font-size: 100px;
  }

  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100% !important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  font-weight: 100;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}

.download-section {
  width: 100vw;
  padding: 50px 0;
  color: #fff;
  /*background: url(../../images/downloads-bg.jpg) no-repeat center center scroll;*/
  background-color: #ecf0f1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.download-section p {
  color: #2c3e50;
}
.download-section h2 {
  color: #2c3e50;
}

#projects {
  background: #4aa3df;
  width: 100vw;
  padding: 50px 0;
  color: #fff;
}

#partner {
  background: #7A6E6E;
  width: 100vw;
  padding: 30px 0;
  color: #2c3e50;
}

#staff {
  background: #fff;
  width: 100vw;
  height: auto;
  padding: 30px 0;
  color: #000;
}
#staff h5 {
  color: #000;
}

#staff .staff-image{
  border: 3px solid #eee;
  margin-bottom: 7px;
}

#staff p {
  margin: 0 0 35px;
  font-size: 20px;
  line-height: 1.6;
}

#staff .btn-green {
  height: 46px;
  padding-top: 12px;
}

#meetup {
  background: #e4f1fe;
  width: 100vw;
  height: 750px;
  padding: 50px 0;
  color: #22313f;
}

#parceiro {
  background: #7A6E6E;
  width: 100vw;
  padding: 50px 0;
  color: #22313f;
}

#parceiro h2 {
  color: #fff;
}

#meetup p {
  text-align: justify;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }

  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 400px;
    margin-top: 250px;
  }
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default {
  border: 1px solid #627A69;
  color: #627A69;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #627A69;
  outline: 0;
  color: #000;
  background-color: #627A69;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  margin: 0;
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.col-centered {
  display: inline-block;
  float: none;
  margin: 0 auto;
}

/** Partners **/
#partner .row {
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;
}

.partner-logo {
  position: relative;
  padding-bottom: 60px;
}

.partner-logo figcaption {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  opacity: 0;
  position: absolute;
}

@media (min-width: 1024px) {
  .partner-logo img {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  /* hover effects */
  .partner-logo:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .partner-logo:hover figcaption {
    opacity: 1;
    top: 60%;
  }
}

@media (max-width: 767px) {
  .partner-logo {
    display: block;
    float: none;
  }
}

#apoie {
  background: #7A6E6E;
  width: 100vw;
  height: auto;
  padding: 70px 0px;
  color: #627A69;
  color: #fff;
}

#apoie .btn-apoie {
  height: 46px;
  border: 1px solid #004d00;
  color: #004d00;
}

#apoie .col-sm-4:nth-child(1) ,
#apoie .col-sm-4:nth-child(2) {
  filter: invert(1);
}

#apoie img {
  max-width: 200px;
}

#apoie .support-options > div {
  margin: 25px 0;
}

.img-circle {
  max-height: 200px;
  border-radius: 100px;
}

#staff .members .row > div {
  text-align: center;
  padding-top: 25px;
}

#about {
  background: #fff;
  color: #000;
}

#podcast {
  background: #fff;
  width: 100vw;
  height: auto;
  padding: 70px 0;
  color: #000;  
}

#contact,
footer {
  background: #000;
}

.podcast-options {
  justify-content: flex-end;
  display: flex;
}

.spotify-option {
  width: 10em;
}
.itunes-option {
  width: 10em;
}

.anchor-option {
  width: 10em;
}

.btn-footer {
  margin-bottom: 10px;
}

.bg-dark {
  background-color: #627A69!important;
}

.blog-post {
  color: #000;
}
